.rating-color {
  color: $rating-color;
}

.cursor-pointer {
  cursor: pointer;
}

.font-sm {
  font-size: 12px;
}

.text-main {
  color: $main-color;
}

.bg-main {
  background-color: $main-color !important;
}

.bg-main-light {
  background-color: $light-color !important;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}
