<section>
  <div *ngIf="product$ | async as product" class="p-2 product shadow-sm my-5">
    <div class="row align-items-center">
      <div class="col-12 col-md-3">
        <img
          [src]="product.imageCover"
          alt="product image"
          class="w-100"
          height="280px"
        />
      </div>
      <div class="col-12 col-md-9">
        <h5 class="text-main">{{ product.title | sliceText }}</h5>
        <h6>{{ product.category.name }}</h6>
        <p>
          <strong>{{ "PRODUCT.DESCRIPTION" | translate }}:</strong>
          {{ product.description }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <span class="text-muted">
            {{ "PRODUCT.PRICE" | translate }}: {{ product.price | currency }}
          </span>
          <span class="text-success">
            {{ product.ratingsAverage }}
            <i class="fa-solid fa-star text-warning"></i>
          </span>
        </div>
        <button class="btn btn-success btn-main my-3 w-100">
          {{ "PRODUCT.ADD_TO_CART" | translate }}
        </button>
        <button class="btn btn-success btn-main my-3 w-100">
          {{ "PRODUCT.ADD_TO_CART" | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
