<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex">
    <div>
      <a class="navbar-brand" routerLink="">
        <img src="assets/images/freshcart-logo.svg" alt="freshcart-logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <div class="dropdown mx-2">
          <a
            class="btn btn-outline-primary dropdown-toggle d-flex align-items-center gap-2"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-language"></i>
            {{ "NAV.LANG" | translate }}
          </a>

          <ul class="dropdown-menu p-1 shadow">
            <li
              class="cursor-pointer d-flex align-items-center gap-2 p-2 rounded"
              (click)="translationService.useLanguage('ar')"
              [class.bg-info.text-white]="
                translationService.getCurrentLang() == 'ar'
              "
            >
              <i class="fas fa-flag"></i>
              <span>عربي</span>
            </li>
            <li
              class="cursor-pointer d-flex align-items-center gap-2 p-2 rounded"
              (click)="translationService.useLanguage('en')"
              [class.bg-info.text-white]="
                translationService.getCurrentLang() == 'en'
              "
            >
              <i class="fas fa-flag-usa"></i>
              <span>English</span>
            </li>
          </ul>
        </div>
        <a class="nav-link" routerLink="login" routerLinkActive="active-link">
          {{ "AUTH.LOGIN" | translate }}</a
        >

        <a
          class="nav-link"
          routerLink="register"
          routerLinkActive="active-link"
        >
          {{ "AUTH.REGISTER" | translate }}</a
        >
      </div>
    </div>
  </div>
</nav>
